# Introducción a Pandas - Series y DataFrames
## Profesor: Kevin Sossa
## Estudiante:

#### Objetivo
> Iniciar a los estudiantes en el uso de Pandas para la manipulación de datos, mostrando cómo los DataFrames pueden facilitar operaciones repetitivas y análisis complejos.

## ¿Qué es Pandas?
- Biblioteca para análisis de datos.
- Herramienta clave en Data Science para manipulación y limpieza.

### Conceptos Clave:

- Series: Estructura unidimensional (similar a un vector o lista).
- DataFrame: Tabla bidimensional con filas y columnas.

###  Instalación y Configuración
    
    ```bash
    pip install pandas
    ```
    
    ```python
    import pandas as pd
    ```

pip no se reconoce como un comando interno o externo, programa o archivo por lotes ejecutable

In [3]:
!py -m ensurepip --upgrade

Looking in links: c:\Users\HP\AppData\Local\Temp\tmp1iurs5c1
Requirement already up-to-date: setuptools in c:\users\hp\appdata\local\programs\python\python39\lib\site-packages (74.1.1)
Requirement already up-to-date: pip in c:\users\hp\appdata\local\programs\python\python39\lib\site-packages (23.2.1)

In [1]:
!pip install pandas

Collecting pandas
  Downloading pandas-2.2.3-cp310-cp310-win_amd64.whl (11.6 MB)
     ---------------------------------------- 0.0/11.6 MB ? eta -:--:--
     ---------------------------------------- 0.0/11.6 MB ? eta -:--:--
     --------------------------------------- 0.0/11.6 MB 660.6 kB/s eta 0:00:18
     --------------------------------------- 0.0/11.6 MB 660.6 kB/s eta 0:00:18
     --------------------------------------- 0.1/11.6 MB 508.4 kB/s eta 0:00:23
     --------------------------------------- 0.1/11.6 MB 547.6 kB/s eta 0:00:21
     --------------------------------------- 0.1/11.6 MB 532.5 kB/s eta 0:00:22
      -------------------------------------- 0.2/11.6 MB 692.4 kB/s eta 0:00:17
      -------------------------------------- 0.2/11.6 MB 754.9 kB/s eta 0:00:16
      -------------------------------------- 0.3/11.6 MB 737.3 kB/s eta 0:00:16
     - ------------------------------------- 0.4/11.6 MB 849.3 kB/s eta 0:00:14
     - ------------------------------------- 0.4/11.6 MB 849.3 kB/s eta 0:00:14
     - ------------------------------------- 0.5/11.6 MB 829.2 kB/s eta 0:00:14
     -- ------------------------------------- 0.6/11.6 MB 1.0 MB/s eta 0:00:11
     -- ------------------------------------- 0.7/11.6 MB 1.1 MB/s eta 0:00:10
     --- ------------------------------------ 1.0/11.6 MB 1.4 MB/s eta 0:00:08
     ---- ----------------------------------- 1.2/11.6 MB 1.7 MB/s eta 0:00:07
     ---- ----------------------------------- 1.3/11.6 MB 1.7 MB/s eta 0:00:07
     ------ --------------------------------- 1.8/11.6 MB 2.2 MB/s eta 0:00:05
     -------- ------------------------------- 2.3/11.6 MB 2.7 MB/s eta 0:00:04
     --------- ------------------------------ 2.8/11.6 MB 3.1 MB/s eta 0:00:03
     ----------- ---------------------------- 3.3/11.6 MB 3.4 MB/s eta 0:00:03
     ------------- -------------------------- 3.9/11.6 MB 3.9 MB/s eta 0:00:02
     ---------------- ----------------------- 4.8/11.6 MB 4.6 MB/s eta 0:00:02
     ------------------- -------------------- 5.7/11.6 MB 5.2 MB/s eta 0:00:02
     --------------------- ------------------ 6.2/11.6 MB 5.5 MB/s eta 0:00:01
     ------------------------ --------------- 7.0/11.6 MB 5.8 MB/s eta 0:00:01
     ------------------------ --------------- 7.2/11.6 MB 5.9 MB/s eta 0:00:01
     ------------------------ --------------- 7.2/11.6 MB 5.9 MB/s eta 0:00:01
     ------------------------ --------------- 7.2/11.6 MB 5.9 MB/s eta 0:00:01
     ------------------------- -------------- 7.3/11.6 MB 5.2 MB/s eta 0:00:01
     --------------------------- ------------ 8.0/11.6 MB 5.6 MB/s eta 0:00:01
     -------------------------------- ------- 9.5/11.6 MB 6.4 MB/s eta 0:00:01
     --------------------------------------  11.6/11.6 MB 13.9 MB/s eta 0:00:01
     --------------------------------------- 11.6/11.6 MB 13.1 MB/s eta 0:00:00
Collecting tzdata>=2022.7
  Using cached tzdata-2024.2-py2.py3-none-any.whl (346 kB)
Collecting numpy>=1.22.4
  Downloading numpy-2.1.3-cp310-cp310-win_amd64.whl (12.9 MB)
     ---------------------------------------- 0.0/12.9 MB ? eta -:--:--
     -- ------------------------------------- 0.7/12.9 MB 22.7 MB/s eta 0:00:01
     ---- ----------------------------------- 1.5/12.9 MB 18.9 MB/s eta 0:00:01
     ------- -------------------------------- 2.3/12.9 MB 18.3 MB/s eta 0:00:01
     -------- ------------------------------- 2.9/12.9 MB 15.2 MB/s eta 0:00:01
     ---------- ----------------------------- 3.4/12.9 MB 14.6 MB/s eta 0:00:01
     ------------ --------------------------- 3.9/12.9 MB 14.7 MB/s eta 0:00:01
     ------------ --------------------------- 4.1/12.9 MB 13.9 MB/s eta 0:00:01
     ------------ --------------------------- 4.1/12.9 MB 13.9 MB/s eta 0:00:01
     ------------ --------------------------- 4.1/12.9 MB 13.9 MB/s eta 0:00:01
     ------------ --------------------------- 4.1/12.9 MB 13.9 MB/s eta 0:00:01
     ------------ --------------------------- 4.1/12.9 MB 13.9 MB/s eta 0:00:01
     ------------- -------------------------- 4.4/12.9 MB 8.3 MB/s eta 0:00:02
     ------------- -------------------------- 4.4/12.9 MB 8.3 MB/s eta 0:00:02
     ------------- -------------------------- 4.4/12.9 MB 8.3 MB/s eta 0:00:02
     -------------- ------------------------- 4.7/12.9 MB 6.7 MB/s eta 0:00:02
     --------------------------- ------------ 8.9/12.9 MB 11.8 MB/s eta 0:00:01
     -------------------------------- ------ 10.6/12.9 MB 13.1 MB/s eta 0:00:01
     ---------------------------------- ---- 11.3/12.9 MB 13.1 MB/s eta 0:00:01
     ----------------------------------- --- 11.8/12.9 MB 12.6 MB/s eta 0:00:01
     ------------------------------------- - 12.4/12.9 MB 12.6 MB/s eta 0:00:01
     --------------------------------------  12.9/12.9 MB 12.8 MB/s eta 0:00:01
     --------------------------------------- 12.9/12.9 MB 11.9 MB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\hp\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1
  Downloading pytz-2024.2-py2.py3-none-any.whl (508 kB)
     ---------------------------------------- 0.0/508.0 kB ? eta -:--:--
     ------------------------------------- 508.0/508.0 kB 10.6 MB/s eta 0:00:00
Requirement already satisfied: six>=1.5 in c:\users\hp\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Installing collected packages: pytz, tzdata, numpy, pandas
Successfully installed numpy-2.1.3 pandas-2.2.3 pytz-2024.2 tzdata-2024.2

[notice] A new release of pip is available: 23.0.1 -> 24.3.1
[notice] To update, run: C:\Users\HP\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [4]:
# importar pandas y numpy
import numpy as np
import pandas  as pd

In [5]:
# una serie
s = pd.Series([1, 3, 5, 6, 8])
print(s)

0    1
1    3
2    5
3    6
4    8
dtype: int64

In [7]:
lista/ 2

TypeError: unsupported operand type(s) for /: 'list' and 'int'

In [6]:
lista = [1, 3, 5, np.nan, 6, 8]
serie_2 = pd.Series(lista)
serie_2

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [9]:
serie_2*2

0     2.0
1     6.0
2    10.0
3     NaN
4    12.0
5    16.0
dtype: float64

In [11]:
np.random.randn(5)

array([-0.34365064,  0.71123156,  0.83649164, -1.077659  ,  1.62972885])

In [12]:
s = pd.Series(np.random.randn(5), index=["a", "b", "c", "d", "e"])
s

a   -0.534335
b    1.017500
c   -0.473023
d   -1.277361
e    1.066959
dtype: float64

In [ ]:
#indice
s.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [16]:
# editar un valor 
s["c"] = 12

In [17]:
s

a    -0.534335
b     1.017500
c    12.000000
d    -1.277361
e     1.066959
dtype: float64

In [14]:
# iterar sobre los indices de una serie
for i in s.index:
    print(i)

a
b
c
d
e

In [ ]:
for i in serie_2:
    print(i)
    # si i es mayor que

1.0
3.0
5.0
nan
6.0
8.0

In [20]:
[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [18]:
# un DataFrame con listas
df = pd.DataFrame([[1, 2, 3], [4, 5, 6], [7, 8, 9]])
print(df)

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [33]:
diccionario_1 = {
    "nombre": ["Juan", "Ana", "Pedro"],
    "edad": [23, 34, 45],
    "ciudad": ["Bogotá", "Medellín", "Cali"]
}
diccionario_1

{'nombre': ['Juan', 'Ana', 'Pedro'],
 'edad': [23, 34, 45],
 'ciudad': ['Bogotá', 'Medellín', 'Cali']}

In [34]:
# cada una de las listas se convierte en una columna, deben tener la misma longitud
pd.DataFrame(diccionario_1)

  nombre  edad    ciudad
0   Juan    23    Bogotá
1    Ana    34  Medellín
2  Pedro    45      Cali

In [37]:
# diccionario con Series
diccionario_2 = {
    "nombre": pd.Series(["Juan", "Ana", "Pedro", "Sofía"]),
    "edad": pd.Series([23, 34, 45]),
    "ciudad": pd.Series(["Bogotá", "Medellín", "Cali"])
}
diccionario_2

{'nombre': 0     Juan
 1      Ana
 2    Pedro
 3    Sofía
 dtype: object,
 'edad': 0    23
 1    34
 2    45
 dtype: int64,
 'ciudad': 0      Bogotá
 1    Medellín
 2        Cali
 dtype: object}

In [38]:
pd.DataFrame(diccionario_2)

  nombre  edad    ciudad
0   Juan  23.0    Bogotá
1    Ana  34.0  Medellín
2  Pedro  45.0      Cali
3  Sofía   NaN       NaN

In [48]:
# diccionario con Series y listas
diccionario_3 = {"ciudad": ["Bogotá", "Medellín", "Cali"],
    "nombre": pd.Series(["Juan", "Ana", "Pedro"]),
    "edad": pd.Series([23, 34, 45]),
    
}
diccionario_3

{'ciudad': ['Bogotá', 'Medellín', 'Cali'],
 'nombre': 0     Juan
 1      Ana
 2    Pedro
 dtype: object,
 'edad': 0    23
 1    34
 2    45
 dtype: int64}

In [49]:
# la lista debe tener la misma cantidad de elementos que la serie
pd.DataFrame(diccionario_3)

     ciudad nombre  edad
0    Bogotá   Juan    23
1  Medellín    Ana    34
2      Cali  Pedro    45

In [50]:
#diccionario
diccionario = {"clave":"valor"}
d = {
    "uno": pd.Series([1.0, 2.0, 3.0], index=["a", "b", "c"]),
    "dos": pd.Series([1.0, 2.0, 3.0, 4.0], index=["a", "b", "c", "d"]),
    "nombre": pd.Series(["Juan", "Pedro", "Luis"]),
}
d

{'uno': a    1.0
 b    2.0
 c    3.0
 dtype: float64,
 'dos': a    1.0
 b    2.0
 c    3.0
 d    4.0
 dtype: float64,
 'nombre': 0     Juan
 1    Pedro
 2     Luis
 dtype: object}

In [52]:
# es recomendable que los valores de las series tengan los mismos indices
df_2 = pd.DataFrame(d)
df_2

   uno  dos nombre
a  1.0  1.0    NaN
b  2.0  2.0    NaN
c  3.0  3.0    NaN
d  NaN  4.0    NaN
0  NaN  NaN   Juan
1  NaN  NaN  Pedro
2  NaN  NaN   Luis

In [19]:
# edit a single cell value in a DataFrame
df.iloc[0, 1] = 10
print(df)

   0   1  2
0  1  10  3
1  4   5  6
2  7   8  9

In [54]:
# un dataframe, lista de consumos, nombres de clientes y fechas
df = pd.DataFrame({
    'Cliente': ['A', 'B', 'C', 'D'],
    'Consumo': [100, 200, 300, 400],
    'Fecha': pd.date_range('20200101', periods=4)
})
df

  Cliente  Consumo      Fecha
0       A      100 2020-01-01
1       B      200 2020-01-02
2       C      300 2020-01-03
3       D      400 2020-01-04

In [55]:
data = [10, 20, 30, 40]
series = pd.Series(data, name="Energía (kWh)")
print(series)

0    10
1    20
2    30
3    40
Name: Energía (kWh), dtype: int64

In [56]:
data = {'Estado': ['Texas', 'California'], 'Consumo (kWh)': [500, 700]}
df = pd.DataFrame(data)
print(df)

       Estado  Consumo (kWh)
0       Texas            500
1  California            700

### Actividad Práctica Inicial:

Crear una Series y un DataFrame simple con datos ficticios de electricidad:
- Consumos mensuales.
- Tarifas por kWh.

## Cargar y Explorar el Dataset

In [ ]:
# Cargar dataset en un DataFrame
datos = pd.read_csv('datos\clean_data.csv')

In [ ]:
# Explorar el DataFrame:
# Ver primeras filas
print(datos.head())

In [ ]:
#Información del dataset:
print(datos.info())

Los estudiantes cargan el dataset y realizan las siguientes tareas:
- Contar las filas y columnas.
- Identificar el tipo de datos en cada columna.
- Verificar si hay valores nulos.

## Aplicación de Ciclos para Operaciones Básicas

- Calcular ingresos promedio por sector utilizando for
- Crear un ciclo para encontrar el promedio del precio por estado (stateDescription).

In [ ]:
sectores = df['sectorName'].unique()

In [ ]:
# Ejemplo: Calcular el total de ventas por sector.
sectores = df['sectorName'].unique()
for sector in sectores:
    ventas = df[df['sectorName'] == sector]['sales'].sum()
    print(f"Sector: {sector}, Ventas Totales: {ventas}")

In [ ]:
#Promedio de ventas por estado:

estados = df['stateDescription'].unique()
for estado in estados:
    promedio = df[df['stateDescription'] == estado]['sales'].mean()
    print(f"Estado: {estado}, Promedio de Ventas: {promedio} millones de kWh")

## Métodos de DataFrame para Simplificar

- totales sin ciclos:

In [ ]:
ventas_por_sector = df.groupby('sectorName')['sales'].sum()
print(ventas_por_sector)

GroupBy y Agregaciones:

Simplificar operaciones usando métodos:

In [ ]:
ventas_por_sector = df.groupby('sectorName')['sales'].sum()
print(ventas_por_sector)

Filtrar y ordenar:

Filtros simples y compuestos:

In [ ]:
df_filtrado = df[(df['sales'] > 50) & (df['stateDescription'] == 'California')]
print(df_filtrado)

In [ ]:
# Ordenar por columna:
df_ordenado = df.sort_values(by='revenue', ascending=False)
print(df_ordenado.head())

Los estudiantes cargarán el archivo y explorarán:
- Total de filas y columnas.
- Tipos de datos.
- Valores faltantes.

In [ ]:
avg_revenue_per_sector = df.groupby('sectorName')['revenue'].mean()
print(avg_revenue_per_sector)

In [ ]:
#Filtro por sector:

residential_data = df[df['sectorName'] == 'residential']
print(residential_data.head())

In [ ]:
#Usar métodos para encontrar el total de ventas (sales) por estado y año.

# Ejercicio Final: Exploración de Datos (20 minutos)
Problema: Los estudiantes deben responder estas preguntas usando Pandas:

- ¿Cuál es el sector con el precio promedio más alto en 2023?
- ¿Cuál fue el total de ingresos en 2024 para el sector industrial?
- ¿Cuál es el estado con la mayor cantidad de clientes en 2024?
- Sugerencia: Usar combinaciones de filtros, groupby, y métodos como mean() o sum().

## Cuarta Parte: Taller de Práctica 
- Ejercicio 1: Análisis de Tarifas por Estado y Sector
Filtrar los datos para encontrar el estado con la tarifa promedio más alta en el sector residencial.

- Ejercicio 2: Clasificación de Ventas
Recorrer la columna sales y clasificar las ventas como "Bajas", "Medias" o "Altas" según estos criterios:

    - Baja: < 50 millones de kWh.
    - Media: 50-100 millones de kWh.
    - Alta: > 100 millones de kWh.
Crear una nueva columna con la clasificación.
- Ejercicio 3: Consumo y Clientes
Calcular el consumo promedio por cliente en cada sector y mostrar los resultados.

- Ejercicio 4: Tendencias Temporales
Usar los datos de los años 2023 y 2024 para calcular el crecimiento porcentual del ingreso en cada estado.

Ejercicio 1: Resumen por Sector
Calcular las ventas, ingresos totales y el precio promedio por sector usando métodos.

Ejercicio 2: Top Estados con Mayor Ingreso
Filtrar los 5 estados con mayores ingresos en 2024.

Ejercicio 3: Tendencias Temporales
Calcular el crecimiento porcentual de ventas entre 2020 y 2024 para cada estado.

Ejercicio 4: Consumo por Cliente
Crear una nueva columna que calcule el consumo promedio por cliente para observaciones donde esta información esté disponible.